
###LOGGING###
#logging level
loglevel=INFO
#location of log file
logloc=./log.txt



###PolicyDB options###
#overwrite old DB
newDB=true
#policyDB backend class
#value doesn't matter but OPTION MUST BE PRESENT
PolicyDB=asdwdaf
#single past history to add to existing DB
p3pHistFile=./p3p.xml
#loading DB location
inDBLocation=./newP3P.db
#writing DB location
outDBLocation=./newP3P.db

#location to load weights
inweights=./weights.cfg
#location to save weights
outweights=./weights.cfg


#CBR version
cbrV=asd
#UserInterface
userInterface=asd
